





<%= form_with model:book, url:'/books', local:true do |f| %>
<div class ="field">
<%= f.label :title %>
 <%= f.text_field :title %>
</div>
<div class = "field">
<%= f.label :body %>
 <%= f.text_area :body %>
</div>
<%= f.submit 'Create Book', class: "btn btn-sm btn-success col-sm-6" %>

<% end %>